<h3><i class="fas fa-book-reader"></i> MyBook</h3>
<div class="section">
    <p class="lead">Join the leading social media web</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/facebook" class="btn btn-primary blue">
    <i class="fa-brands fa-facebook"></i> Log in with Facebook
    </a>
</div>